@{
    Layout = "_Layout";
}

<h1 style="color:#6364a5">Hello, world!!!</h1>


<div>

    Welcome to your new application.<br />

</div>

<div>

    <button type="button" onclick="window.open('https://localhost:52250/personalTAB/');" class="appButton">Click Me!</button>

</div>
